  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/*
=============== 
Variables
===============
*/

:root{
    --clr-black-1: #101010;
    --clr-orange-1: #D87D4A;
    --clr-gray-1: #F1F1F1;
    --clr-gray-2: #FAFAFA;
    --clr-orange-2: #fbaf85;
    --clr-white-3: #FFFFFF;
    --clr-black-2: #000000; 
    --max-width: 1170px;
    --fixed-width: 620px;
    transition: var(--transition);

    
}

* {
    font-family: 'Manrope', sans-serif;
    transition: var(--transition);

}